.DS_Store
.ipynb_checkpoints*
.idea/
*.pyc
*~*
*.html

TheDemocrats_GOP.edge.csv.gz
TheDemocrats_GOP.vertex.csv.gz

lyuba_cdr.csv

features.h5

junk*
crap*
crud*

notes.html
notes.py

home_depot/Data
home_depot/Feat
home_depot/Output

telstra/data/test_dataset.csv
telstra/data/train_dataset.csv
telstra/data/test_ksmod.csv
telstra/data/train_ksmod.csv

sci_bowl_2015/data
sci_bowl_2015/weights*

santander_cs/data/*.csv
santander_cs/data/*.zip
.DS_Store
.dropbox
code_check*
nohup.out
+*.pdf
slides/01-Slides/cache
slides/01-Slides/data
slides/05-Slides/cache

*.tsv
*.graphml

deep/dato/data/imagenet_model/objects.bin*

axa_telematics/

deep/lstm_activity/data/UCI\ HAR\ Dataset/

deep/lstm_activity/UCI HAR Dataset.zip

deep/keras/data/vgg16_weights.h5

deep/lstm_activity/data/actitracker_raw.txt
