.DS_Store
.ipynb_checkpoints*
.idea/
*.pyc
*~*
*.html

TheDemocrats_GOP.edge.csv.gz
TheDemocrats_GOP.vertex.csv.gz

lyuba_cdr.csv

features.h5

junk*
crap*
crud*

notes.html
notes.py

home_depot/Data
home_depot/Feat
home_depot/Output

telstra/data/test_dataset.csv
telstra/data/train_dataset.csv
telstra/data/test_ksmod.csv
telstra/data/train_ksmod.csv

sci_bowl_2015/data
sci_bowl_2015/weights*

sci_bowl_2017/data
sci_bowl_2017/weights*

santander_cs/data/*.csv
santander_cs/data/*.zip

zestimate/data/*.csv
zestimate/data/*.xlsx

.DS_Store
.dropbox
code_check*
nohup.out
+*.pdf
slides/01-Slides/cache
slides/01-Slides/data
slides/05-Slides/cache

*.tsv
*.graphml

axa_telematics/
examples/vgg16_weights.h5
h2o_ml/nodes-p*

dato_tutorial/data/imagenet_model/objects.bin*
human_activity/data/UCI\ HAR\ Dataset/
human_activity/UCI HAR Dataset.zip
human_activity/data/actitracker_raw.txt

datasets/cats