.DS_Store
.ipynb_checkpoints*
.idea/
*.pyc
*~*

TheDemocrats_GOP.edge.csv.gz
TheDemocrats_GOP.vertex.csv.gz

lyuba_cdr.csv

features.h5

junk*
crap*
crud*

notes.html
notes.py

home_depot/Data
home_depot/Feat
home_depot/Output

telstra/data/test_dataset.csv
telstra/data/train_dataset.csv

sci_bowl_2015/data
sci_bowl_2015/weights*
